.ticket {

  --_origin-dest-full-to-short-ratio: 19 / 60;
  --_flight-info-title-to-text-ratio: 20 / 16;

  --_inwards-border-radius: 2.6rem;
  --_origin-dest-short-fs--main: 6rem;
  --_origin-dest-full-fs--main: calc(var(--_origin-dest-short-fs--main) * var(--_origin-dest-full-to-short-ratio));
  --_flight-info-title-fs--main: 1.6rem;
  --_flight-info-text-fs--main: calc(var(--_flight-info-title-fs--main) * var(--_flight-info-title-to-text-ratio));
  --_airplane-icon-dimensions--main: 3rem;

  // main to secondary ratios:
  --_origin-dest-main-to-secondary-ratio: 19 / 30;
  --_flight-info-main-to-secondary-ratio: 95 / 110;

  // try not to change any of the variables bellow, these are rigged to always
  // make sure elements from ...--secondary are related to ...--main elements
  --_origin-dest-short-fs--secondary: calc(var(--_origin-dest-short-fs--main) * var(--_origin-dest-main-to-secondary-ratio));
  --_origin-dest-full-fs--secondary: calc(var(--_origin-dest-full-fs--main) * var(--_origin-dest-main-to-secondary-ratio));
  --_flight-info-title-fs--secondary: calc(var(--_flight-info-title-fs--main) * var(--_flight-info-main-to-secondary-ratio));
  --_flight-info-text-fs--secondary: calc(var(--_flight-info-text-fs--main) * var(--_flight-info-main-to-secondary-ratio));
  --_airplane-icon-dimensions--secondary: calc(var(--_airplane-icon-dimensions--main) * var(--_origin-dest-main-to-secondary-ratio));

  --_origin-dest-short-fs--secondary: 3.8rem;
  --_origin-dest-full-fs--secondary: calc(var(--_origin-dest-short-fs--secondary) * var(--_origin-dest-full-to-short-ratio));
  --_flight-info-title-fs--secondary: 1.38rem;
  --_flight-info-text-fs--secondary: calc(var(--_flight-info-title-fs--secondary) * var(--_flight-info-title-to-text-ratio));
  --_airplane-icon-dimensions--secondary: 2rem;
  
  max-width: 800px;
  aspect-ratio: 123 / 56;

  display: grid;
  grid-template-columns: 79fr auto 36fr;

  @include respond-up-to(bp-lg) { // 816px
    --_inwards-border-radius: 2.4rem;
    --_origin-dest-short-fs--main: 5rem;
    --_flight-info-title-fs--main: 1.4rem;
  }
  
  @include respond-up-to(bp-md) {
    grid-template-columns: minmax(25rem, 36rem);
    grid-template-rows: 36rem auto min-content;
  }
  
  @include respond-up-to(bp-sm) { // 500px
    --_inwards-border-radius: 2rem;
    --_flight-info-text-fs--main: 1.6rem;
  }
  
  @include respond-up-to(bp-x-sm) { // 400px
    --_origin-dest-short-fs--main: 4rem;
    --_flight-info-title-fs--secondary: 1.2rem;
    --_flight-info-text-fs--secondary: 1.4rem;
    --_inwards-border-radius: 1.8rem;
  }

  // = = = = = = = = = = TICKET MAIN SECTION = = = = = = = = = =
  &__main {
    background-color: #F7FEFE;
    padding: 6rem calc(4rem - (var(--_inwards-border-radius) / 2)) 4rem 4rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    align-content: space-between;
    
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(#000, .14); // BOX SHADOW <--
    
    @include respond-up-to(bp-md) {
      padding: 6rem 4rem calc(4rem - (var(--_inwards-border-radius) / 2));
    }

    @include respond-up-to(bp-sm) {
      padding: 5rem 2rem calc(4rem - (var(--_inwards-border-radius) / 2));
    }

    @include respond-up-to(bp-x-sm) {
      padding: 3rem 2rem calc(4rem - (var(--_inwards-border-radius) / 2));
    }
  }

  // = = = = = = = = = = = = ORIGIN-DEST = = = = = = = = = = = =
  &__origin-dest {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, auto);

    color: #6D7572;
    line-height: 0.85;

    &--main {
      grid-template-columns: min-content 8rem min-content;
      width: 75%;
      margin: 0 auto;
    }

    &--secondary {
      grid-template-columns: min-content 5rem min-content;
      height: 75%;
      margin: auto 0;
    }
  }

  // only &__origin--short and &__dest--short within &__main
  &__main &__origin--short,
  &__main &__dest--short {
    font-size: var(--_origin-dest-short-fs--main);
  }

  // only &__origin--short and &__dest--short within &__main
  &__secondary &__origin--short,
  &__secondary &__dest--short {
    font-size: var(--_origin-dest-short-fs--secondary);
  }

  // only &__origin--full and &__dest--full within &__main
  &__main &__origin--full,
  &__main &__dest--full {
    font-size: var(--_origin-dest-full-fs--main);
  }

  // only &__origin--full and &__dest--full within &__main
  &__secondary &__origin--full,
  &__secondary &__dest--full {
    font-size: var(--_origin-dest-full-fs--secondary);
  }

  // &__origin--short and &__dest--short within &__main and &__secondary
  &__origin--short,
  &__dest--short {
    font-family: "Roboto", monospace;
    color: #00DADB;
    font-weight: 700;
    text-transform: uppercase;
  }

  // &__origin--full and &__dest--full within &__main and &__secondary
  &__origin--full,
  &__dest--full {
    font-family: "Roboto", monospace;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__origin {
    &--short {
      grid-row: 1;
      grid-column: 1;
    }

    &--full {
      grid-row: 2;
      grid-column: 1;
    }
  }

  &__dest {
    &--short {
      grid-row: 1;
      grid-column: 3;
    }

    &--full {
      grid-row: 2;
      grid-column: 3;
    }
  }

  &__airplane-icon-wrapper {
    // overrides &__origin-dest `place-items: center` which causes ::before
    // and ::after to have no width at all
    justify-self: stretch;

    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;

    color: #AFB9B4;

    &::before,
    &::after {
      content: "";
      background-color: currentColor;
      border-radius: 100px;
    }

    &--main {
      &::before,
      &::after {
        height: 1px;
        width: 75%;
      }
    }

    &--secondary {
      &::before,
      &::after {
        content: "";
        height: 75%;
        width: 1px;

        @include respond-up-to(bp-md) {
          height: 1px;
          width: 75%;
        }
      }
    }
  }

  &__airplane-icon {
    vertical-align: middle; // to get rid of that empty space bellow svg (as it's an inline element)

    &--main {
      transform: rotateZ(90deg);
      width: var(--_airplane-icon-dimensions--main);
      height: var(--_airplane-icon-dimensions--main);
    }

    &--secondary {
      transform: rotateZ(180deg);
      width: var(--_airplane-icon-dimensions--secondary);
      height: var(--_airplane-icon-dimensions--secondary);
      
      @include respond-up-to(bp-md) {
        transform: rotateZ(90deg);
      }
    }
  }

  // = = = = = = = = = = = = FLIGHT-INFO = = = = = = = = = = = =
  &__flight-info {
    display: flex;
    justify-content: space-between;

    font-family: "Roboto", monospace;
    color: #657574;
    line-height: 1.3;

    &--main {
      margin-top: 1rem;
      padding: 1rem 2rem;
      border-radius: 5px;
      background-color: #E6FBFB;
      
      @include respond-up-to(bp-sm) {
        display: grid;
        gap: 1rem 0;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 0;
      }

      & > * { // every direct child of &__flight-info--main

        @include respond-up-to(bp-sm) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: .5rem;
          align-items: center;
        }
        
        @include respond-up-to(bp-x-sm) {
          grid-template-columns: auto;
          justify-items: center;
        }
        
        & > *:nth-child(odd) {
          // @include respond-up-to(bp-sm) {
          //   justify-self: end;
          // }
          @include respond-interval(bp-x-sm) {
            justify-self: end;
          }
        }
      }
    }

    &--secondary {
      max-height: 26.4rem;
    }
  }

  &__flight-info-title {
    font-weight: 300;

    &--main {
      font-size: var(--_flight-info-title-fs--main);
    }

    &--secondary {
      font-size: var(--_flight-info-title-fs--secondary);
    }
  }

  &__flight-info-text {
    color: #04D8D7;
    font-weight: 700;

    &--main {
      font-size: var(--_flight-info-text-fs--main);
    }

    &--secondary {
      font-size: var(--_flight-info-text-fs--secondary);
    }
  }

  // = = = = = = = = = = = = = = LEGAL = = = = = = = = = = = = = =
  &__legal {
    line-height: 1;
    font-size: 1.4rem;
    color: #BDC0BF;
    margin-top: 5%;
    
    @include respond-up-to(bp-sm) { // 500px
      font-size: 1.2rem;
    }
  }

  // = = = = = = = = = = = = = DASHED-LINE = = = = = = = = = = = = =
  &__intersection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    
    @include respond-up-to(bp-md) {
      grid-template-rows: auto;
      grid-template-columns: auto 1fr auto;
    }
  }

  &__intersection-inwards-border-radius {
    display: flex;
    z-index: 9; // so it's above the box-shadow of its siblings

    @include respond-up-to(bp-md) {
      flex-direction: column;
    }

    &::before,
    &::after {
      content: "";
      width: calc(var(--_inwards-border-radius) / 2);
      aspect-ratio: 1;
      background-color: transparent;
      
      @include respond-up-to(bp-md) {
        width: auto;
        height: calc(var(--_inwards-border-radius) / 2);
      }
    }

    &--top {
      &::before {
        border-radius: 0 0 0 100%;
        box-shadow: -1rem 1rem 0 1rem #F7FEFE;
        
        @include respond-up-to(bp-md) {
          border-radius: 0 100% 0 0;
          box-shadow: 1rem -1rem 0 1rem #F7FEFE;
        }
      }

      &::after {
        border-radius: 0 0 100% 0;
        box-shadow: 1rem 1rem 0 1rem #F7FEFE;
      }
    }

    &--bottom {
      &::before {
        border-radius: 100% 0 0 0;
        box-shadow: -1rem -1rem 0 1rem #F7FEFE;
      }

      &::after {
        border-radius: 0 100% 0 0;
        box-shadow: 1rem -1rem 0 1rem #F7FEFE;
        
        @include respond-up-to(bp-md) {
          border-radius: 0 0 0 100%;
          box-shadow: -1rem 1rem 0 1rem #F7FEFE;
        }
      }
    }
  }

  &__dashed-line {
    background-color: #F7FEFE;
    place-self: stretch;
    z-index: 10; // so it's above the box-shadow of its siblings

    display: grid;
    align-items: center;
    justify-content: center;
    
    @include respond-up-to(bp-md) {
      align-items: center;
      justify-content: stretch;
    }

    &::after {
      content: "";
      height: 95%;
      border-width: 0;
      border-left-width: 2px;
      border-style: dashed;
      border-color: #A4B0AE;
      
      @include respond-up-to(bp-md) {
        height: 0;
        border-width: 0;
        border-top-width: 2px;
      }
    }
  }

  // = = = = = = = = = = = = = SECONDARY = = = = = = = = = = = = =
  &__secondary-wrapper {
    padding: 0 3rem 0 calc(5rem - (var(--_inwards-border-radius) / 2));
    background-color: #F7FEFE;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(#000, .14); // BOX SHADOW <--

    // this makes &__secondary occupy the full height of this wrapper if we use `height: 100%;`,
    // as this wrapper has its height defined by .ticket's aspect-ratio property, it becomes
    // way too high and only stops when reaches about 100% of viewport height.
    display: flex;
    align-items: center;

    @include respond-up-to(bp-md) {
      padding: calc(4rem - (var(--_inwards-border-radius) / 2)) 4rem 3rem;
    }

    @include respond-up-to(bp-x-sm) {
      padding: calc(3rem - (var(--_inwards-border-radius) / 2)) 2rem 3rem;
    }
  }

  &__secondary {
    flex: 1;
    
    display: grid;
    gap: 1rem;
    
    max-height: 26.4rem;
    
    @include respond-starting-at(bp-md) {
      transform: rotateZ(180deg);
      writing-mode: vertical-rl;
    }
  }
  
  &__picture-elem {
    display: flex;
    justify-content: center;
  }

  &__barcode-img {
    margin: auto 0;
    width: 7.5rem;
    aspect-ratio: 118 / 356;
    
    @include respond-up-to(bp-md) {
      margin: 0 auto;
      height: 7.5rem;
      width: auto;
      aspect-ratio: 356 / 118;
    }
  }
}