.ticket {
  --_inwards-border-radius: 2.6rem;

  width: 75%;
  max-width: 800px;
  aspect-ratio: 118 / 56;

  display: grid;
  grid-template-columns: 76fr auto 38fr;
  
  // = = = = = = = = = = TICKET MAIN SECTION = = = = = = = = = =
  &__main {
    background-color: #F7FEFE;
    padding: 6rem calc(4rem - (var(--_inwards-border-radius) / 2)) 4rem 4rem;
    display: grid;
    grid-template-rows: min-content auto;
    gap: 20%; // 20% of height for row-gap

    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(#000, .14); // BOX SHADOW <--
  }

  // = = = = = = = = = = = = ORIGIN-DEST = = = = = = = = = = = =
  &__origin-dest {
    width: 75%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: 19fr 13fr 19fr;
    grid-template-rows: repeat(2, auto);

    color: #6D7572;
    line-height: 0.85;
  }
  
  // only &__origin--short and &__dest--short within &__main
  &__main &__origin--short,
  &__main &__dest--short {
    font-size: 6rem;
  }
  
  // &__origin--short and &__dest--short within &__main and &__secondary
  &__origin--short,
  &__dest--short {
    font-family: "Roboto", monospace;
    color: #00DADB;
    font-weight: 700;
    text-transform: uppercase;
  }

  // &__origin--full and &__dest--full within &__main and &__secondary
  &__origin--full,
  &__dest--full {
    font-family: "Roboto", monospace;
    font-weight: 300;
    font-size: 1.7rem;
    text-transform: capitalize;
  }

  &__origin {
    &--short {
      grid-row: 1;
      grid-column: 1;
    }
    
    &--full {
      grid-row: 2;
      grid-column: 1;
    }
  }
  
  &__dest {
    &--short {
      grid-row: 1;
      grid-column: 3;
    }
    
    &--full {
      grid-row: 2;
      grid-column: 3;
    }
  }

  &__airplane-icon-wrapper {
    // overrides &__origin-dest `place-items: center` which causes ::before
    // and ::after to have no width at all
    justify-self: stretch;

    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;

    color: #AFB9B4;

    &::before,
    &::after {
      content: "";
      height: 1px;
      width: 80%;
      background-color: currentColor;
      border-radius: 100px;
    }
  }

  &__airplane-icon {
    vertical-align: middle; // to get rid of that empty space bellow svg (as it's an inline element)

    &--main {
      transform: rotateZ(90deg);
      width:3rem;
      height: 3rem;
    }
  }

  // = = = = = = = = = = = TICKET-DETAILS = = = = = = = = = = =
  &__details {
    display: grid;
    align-content: space-between;
  }

  // = = = = = = = = = = = = FLIGHT-INFO = = = = = = = = = = = =
  &__flight-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 5px;

    background-color: #E6FBFB;
    font-family: "Roboto", monospace;
    color: #657574;
    line-height: 1.3;

    &--title {
      font-weight: 300;
    }

    &--text {
      color: #04D8D7;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  // = = = = = = = = = = = = = = LEGAL = = = = = = = = = = = = = =
  &__legal {
    line-height: 1;
    font-size: 1.4rem;
    color: #BDC0BF;
  }

  // = = = = = = = = = = = = = DASHED-LINE = = = = = = = = = = = = =
  &__intersection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
  }

  &__intersection-inwards-border-radius {
    display: flex;
    z-index: 9; // so it's above the box-shadow of its siblings

    &::before,
    &::after {
      content: "";
      width: calc(var(--_inwards-border-radius) / 2);
      aspect-ratio: 1;
      background-color: transparent;
    }

    &--top {
      &::before {
        border-radius: 0 0 0 100%;
        box-shadow: -1rem 1rem 0 1rem #F7FEFE;
      }
      
      &::after {
        border-radius: 0 0 100% 0;
        box-shadow: 1rem 1rem 0 1rem #F7FEFE;
      }
    }

    &--bottom {
      &::before {
        border-radius: 100% 0 0 0;
        box-shadow: -1rem -1rem 0 1rem #F7FEFE;
      }
      
      &::after {
        border-radius: 0 100% 0 0;
        box-shadow: 1rem -1rem 0 1rem #F7FEFE;
      }
    }
  }

  &__dashed-line {
    background-color: #F7FEFE;
    place-self: stretch;
    z-index: 10; // so it's above the box-shadow of its siblings

    display: grid;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      height: 95%;
      border-left-width: 2px;
      border-left-style: dashed;
      border-left-color: #A4B0AE;
    }
  }

  // = = = = = = = = = = = = = SECONDARY = = = = = = = = = = = = =
  &__secondary {
    background-color: #F7FEFE;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(#000, .14); // BOX SHADOW <--
  }
}