.ticket {
  // by changing this variable, you change most of the layout fs
  --_adjustment--universal: 1;
  --_adjustment--main: 1;
  --_adjustment--secondary: 1;

  --_origin-dest-full-to-short-ratio: 19 / 60;
  --_flight-info-title-to-text-ratio: 20 / 16;

  --_inwards-border-radius: 2.6rem;
  --_origin-dest-short-fs--main: calc(6rem * var(--_adjustment--main));
  --_origin-dest-full-fs--main: calc(var(--_origin-dest-short-fs--main) * var(--_origin-dest-full-to-short-ratio));
  --_flight-info-title-fs--main: calc(1.6rem * var(--_adjustment--main));
  --_flight-info-text-fs--main: calc(var(--_flight-info-title-fs--main) * var(--_flight-info-title-to-text-ratio) * var(--_adjustment--main));
  --_airplane-icon-dimensions--main: 3rem;

  // main to secondary ratios:
  --_origin-dest-main-to-secondary-ratio: 19 / 30;
  --_flight-info-main-to-secondary-ratio: 95 / 110;

  // try not to change any of the variables bellow, these are rigged to always
  // make sure elements from ...--secondary are related to ...--main elements
  --_origin-dest-short-fs--secondary: calc(var(--_origin-dest-short-fs--main) * var(--_origin-dest-main-to-secondary-ratio));
  --_origin-dest-full-fs--secondary: calc(var(--_origin-dest-full-fs--main) * var(--_origin-dest-main-to-secondary-ratio));
  --_flight-info-title-fs--secondary: calc(var(--_flight-info-title-fs--main) * var(--_flight-info-main-to-secondary-ratio));
  --_flight-info-text-fs--secondary: calc(var(--_flight-info-text-fs--main) * var(--_flight-info-main-to-secondary-ratio));
  --_airplane-icon-dimensions--secondary: calc(var(--_airplane-icon-dimensions--main) * var(--_origin-dest-main-to-secondary-ratio));

  --_origin-dest-short-fs--secondary: calc(3.8rem * var(--_adjustment--secondary));
  --_origin-dest-full-fs--secondary: calc(var(--_origin-dest-short-fs--secondary) * var(--_origin-dest-full-to-short-ratio) * var(--_adjustment--secondary));
  --_flight-info-title-fs--secondary: calc(1.38rem * var(--_adjustment--secondary));
  --_flight-info-text-fs--secondary: calc(var(--_flight-info-title-fs--secondary) * var(--_flight-info-title-to-text-ratio) * var(--_adjustment--secondary));
  --_airplane-icon-dimensions--secondary: 2rem;

  width: 75%;
  max-width: 800px;
  aspect-ratio: 123 / 56;

  display: grid;
  grid-template-columns: 79fr auto 36fr;

  @media screen and (max-width: 59.375em) {
    --_adjustment--main: .9;
  }

  // = = = = = = = = = = TICKET MAIN SECTION = = = = = = = = = =
  &__main {
    background-color: #F7FEFE;
    padding: 6rem calc(4rem - (var(--_inwards-border-radius) / 2)) 4rem 4rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    align-content: space-between;
    // gap: 15%; // 15% of height for row-gap

    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(#000, .14); // BOX SHADOW <--
  }

  // = = = = = = = = = = = = ORIGIN-DEST = = = = = = = = = = = =
  &__origin-dest {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, auto);

    color: #6D7572;
    line-height: 0.85;

    &--main {
      grid-template-columns: min-content 8rem min-content;
      width: 75%;
      margin: 0 auto;
    }

    &--secondary {
      grid-template-columns: min-content 5rem min-content;
      height: 75%;
      margin: auto 0;
    }
  }

  // only &__origin--short and &__dest--short within &__main
  &__main &__origin--short,
  &__main &__dest--short {
    font-size: var(--_origin-dest-short-fs--main);
  }

  // only &__origin--short and &__dest--short within &__main
  &__secondary &__origin--short,
  &__secondary &__dest--short {
    font-size: var(--_origin-dest-short-fs--secondary);
  }

  // only &__origin--full and &__dest--full within &__main
  &__main &__origin--full,
  &__main &__dest--full {
    font-size: var(--_origin-dest-full-fs--main);
  }

  // only &__origin--full and &__dest--full within &__main
  &__secondary &__origin--full,
  &__secondary &__dest--full {
    font-size: var(--_origin-dest-full-fs--secondary);
  }

  // &__origin--short and &__dest--short within &__main and &__secondary
  &__origin--short,
  &__dest--short {
    font-family: "Roboto", monospace;
    color: #00DADB;
    font-weight: 700;
    text-transform: uppercase;
  }

  // &__origin--full and &__dest--full within &__main and &__secondary
  &__origin--full,
  &__dest--full {
    font-family: "Roboto", monospace;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__origin {
    &--short {
      grid-row: 1;
      grid-column: 1;
    }

    &--full {
      grid-row: 2;
      grid-column: 1;
    }
  }

  &__dest {
    &--short {
      grid-row: 1;
      grid-column: 3;
    }

    &--full {
      grid-row: 2;
      grid-column: 3;
    }
  }

  &__airplane-icon-wrapper {
    // overrides &__origin-dest `place-items: center` which causes ::before
    // and ::after to have no width at all
    justify-self: stretch;

    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;

    color: #AFB9B4;

    &--main {
      &::before,
      &::after {
        content: "";
        height: 1px;
        width: 75%;
        background-color: currentColor;
        border-radius: 100px;
      }
    }

    &--secondary {
      &::before,
      &::after {
        content: "";
        height: 75%;
        width: 1px;
        background-color: currentColor;
        border-radius: 100px;
      }
    }
  }

  &__airplane-icon {
    vertical-align: middle; // to get rid of that empty space bellow svg (as it's an inline element)

    &--main {
      transform: rotateZ(90deg);
      width: var(--_airplane-icon-dimensions--main);
      height: var(--_airplane-icon-dimensions--main);
    }

    &--secondary {
      transform: rotateZ(180deg);
      width: var(--_airplane-icon-dimensions--secondary);
      height: var(--_airplane-icon-dimensions--secondary);
    }
  }

  // = = = = = = = = = = = TICKET-DETAILS = = = = = = = = = = =
  // &__details {
  //   display: grid;
  //   align-content: space-between;
  // }

  // = = = = = = = = = = = = FLIGHT-INFO = = = = = = = = = = = =
  &__flight-info {
    display: flex;
    justify-content: space-between;

    font-family: "Roboto", monospace;
    color: #657574;
    line-height: 1.3;

    &--main {
      padding: 1rem 2rem;
      border-radius: 5px;
      background-color: #E6FBFB;
    }
  }

  &__flight-info-title {
    font-weight: 300;

    &--main {
      font-size: var(--_flight-info-title-fs--main);
    }

    &--secondary {
      font-size: var(--_flight-info-title-fs--secondary);
    }
  }

  &__flight-info-text {
    color: #04D8D7;
    font-weight: 700;

    &--main {
      font-size: var(--_flight-info-text-fs--main);
    }

    &--secondary {
      font-size: var(--_flight-info-text-fs--secondary);
    }
  }

  // = = = = = = = = = = = = = = LEGAL = = = = = = = = = = = = = =
  &__legal {
    line-height: 1;
    font-size: 1.4rem;
    color: #BDC0BF;
    margin-top: 5%;
  }

  // = = = = = = = = = = = = = DASHED-LINE = = = = = = = = = = = = =
  &__intersection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
  }

  &__intersection-inwards-border-radius {
    display: flex;
    z-index: 9; // so it's above the box-shadow of its siblings

    &::before,
    &::after {
      content: "";
      width: calc(var(--_inwards-border-radius) / 2);
      aspect-ratio: 1;
      background-color: transparent;
    }

    &--top {
      &::before {
        border-radius: 0 0 0 100%;
        box-shadow: -1rem 1rem 0 1rem #F7FEFE;
      }

      &::after {
        border-radius: 0 0 100% 0;
        box-shadow: 1rem 1rem 0 1rem #F7FEFE;
      }
    }

    &--bottom {
      &::before {
        border-radius: 100% 0 0 0;
        box-shadow: -1rem -1rem 0 1rem #F7FEFE;
      }

      &::after {
        border-radius: 0 100% 0 0;
        box-shadow: 1rem -1rem 0 1rem #F7FEFE;
      }
    }
  }

  &__dashed-line {
    background-color: #F7FEFE;
    place-self: stretch;
    z-index: 10; // so it's above the box-shadow of its siblings

    display: grid;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      height: 95%;
      border-left-width: 2px;
      border-left-style: dashed;
      border-left-color: #A4B0AE;
    }
  }

  // = = = = = = = = = = = = = SECONDARY = = = = = = = = = = = = =
  &__secondary-wrapper {
    padding: 5rem 3rem 5rem calc(5rem - (var(--_inwards-border-radius) / 2));
    background-color: #F7FEFE;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(#000, .14); // BOX SHADOW <--

    // this makes &__secondary occupy the full height of this wrapper if we use `height: 100%;`,
    // as this wrapper has its height defined by .ticket's aspect-ratio property, it becomes
    // way too high and only stops when reaches about 100% of viewport height.
    display: flex;
  }

  &__secondary {
    flex: 1;
    transform: rotateZ(180deg);

    writing-mode: vertical-rl;
    display: grid;
    gap: 1rem;
  }

  &__barcode-img {
    margin: auto 0;
    width: 7.5rem;
    aspect-ratio: 118 / 356;
  }
}