*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  min-height: 100vh;

  background-image: linear-gradient(to left, rgba(#fff, .5), rgba(#fff, .5)), url("../../assets/img/sky-1300.jpg");
  background-size: cover;
}