body {
  font-family: "Lato", sans-serif; /* Use "Lato" font-family if available, otherwise use "sans-serif" */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; /* now line-height will be 1.7x bigger than the pre-defined line-height*/
}

.bold--900 {
  font-weight: 900;
  // background-color: blue;
}